<div class="first-part-about">

    <div class="about-suwadee">
        <div class="text-container">
            <h4>ÜBER SUWADEE</h4>
            <p>Tun Sie etwas für sich selbst oder Ihrem besten Freund und entfliehen Sie dem Stress aus dem Alltag.
                Nehmen Sie sich Zeit für Ihre Gesundheit, genießen Sie die besondere Atmosphäre um sich zu erholen und
                zu entspannen. Finden Sie zu Ihrer inneren Ruhe und Gelassenheit zurück und erleben Sie die hohe Kunst
                am eigenen Leib.</p>
            <div class="zitat-container">
                <img src="assets/landingPage/zitat.png" alt="">
                <div class="text">
                    <p class="zitat">Tu deinem Leib etwas Gutes, damit deine Seele Lust hat, darin zu wohnen.</p>
                    <p class="autor">Teresa von Ávila</p>
                </div>
            </div>
        </div>
        <div class="img-container">
            <img src="assets/landingPage/second_part.png" alt="">
        </div>
    </div>

    <div class="about-suwadee second">
        <div class="img-container order-1">
            <img src="assets/landingPage/third_part.png" alt="">
        </div>
        <div class="text-container order-2">
            <h4>GESUNDHEIT</h4>
            <p>Die Traditionelle Thaimassage wird in Thailand als „Nhuat Phaen“ bezeichnet, was übersetzt „heilsame
                Berührung“ bedeutet. <br>
                Es ist eine Verbindung aus Akupressur, Dehnung (passivem Yoga), Energiearbeit und Meditation. Die
                Thaimassage ist ein bewährtes Mittel gegen oberflächliche und tiefe Muskelverspannungen, Rückenleiden
                und Atembeschwerden. Zudem regt die Massage den Stoffwechsel an und hilft bei dem Abbau von
                Stresshormonen.

            </p>

            <div class="zitat-container">
                <img src="assets/landingPage/zitat.png" alt="">
                <div class="text">
                    <p class="zitat" style="text-align: right;">Es ist die Gesundheit, die der wahre Reichtum ist, nicht
                        Gold- oder Silberstücke.
                    </p>
                    <p class="autor">Mahatma Ghandi</p>
                </div>
            </div>
        </div>
    </div>

</div>