<section>

    <div class="title">
        <div class="line"></div>
        <h1>Terminanfrage und Kontakt</h1>
        <div class="line"></div>
    </div>
    
    <h2>KONTAKTIEREN SIE UNS FÜR EINEN TERMIN ODER FRAGEN <br>
        PER E-MAIL, WHATSAPP ODER RUFEN SIE UNS AN!</h2>

    <section class="section">
        <div class="studios">
            <h2>MASSAGESTUDIO HARSEFELD</h2>
            <div>
                <p>
                    Mobil / Whatsapp: 0155/6634953 <br>
                    Festnetz: 04164/8739892 <br>
                    Mail: suwadeeharsefeld&#64;outlook.de
                </p>
            </div>
        </div>

        <div class="studios">
            <h2>MASSAGESTUDIO STADE</h2>
            <div>
                <p>
                    Mobil / Whatsapp: 0176/60432768 <br>
                    Festnetz: 04141 6599445 <br>
                    Mail: suwadeestade&#64;outlook.de
                </p>
            </div>
        </div>
    </section>

    <img src="assets/landingPage/Frame_6.png" alt="">
</section>