section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 40px auto;
    background: white;
    border-radius: 8px;
    width: 80%;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        max-width: 1440px;

        .line {
            border: 1px solid #DECDEB;
            height: 0px;
            width: 350px;
        }

        h1 {
            text-align: center;
            color: #523263;
            font-size: 48px;
            font-weight: 400;
            font-family: 'CrimsonTextBold';
        }
    }

    h1 {
        font-size: 48px;
        color: #523263;
        font-family: 'CrimsonTextRegular';
        font-weight: 400;
    }

    h2 {
        font-size: 24px;
        color: #523263;
        font-family: 'CrimsonTextSemiBold';
        font-weight: 400;
        text-align: center;
    }

    .section {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        justify-content: space-between;

        .studios {

            h2 {
                font-size: 23px;
                color: #A28F84;
                font-family: 'Gantari';
                font-weight: 400;
                letter-spacing: 8px;
                text-align: start;
            }

            div {
                p {
                    font-size: 24px;
                    color: black;
                    font-weight: 400;
                    font-family: 'Gantari';
                    line-height: 1.6;
                }
            }
        }
    }

    img {
        height: auto;
        width: 90%;
        max-width: 1440px;
    }
}

@media (max-width: 1024px) {
    section {
        margin: 0;
        width: 100%;
    }
    .title {
        gap: 10px;
        .line {
            width: 100% !important;
        }
    }
    .section {
        flex-direction: column;
        align-items: center;
        margin: 10px;
        margin-left: 30px;
    }

    .studios {
        max-width: 90%;
        padding: 1.5rem;
    p{
        font-size: 16px !important;
    }
    }
}

@media (max-width: 768px) {
    section {
        width: 100% !important;
        margin: 0;
    }
    .title {
        gap: 10px;

        .line {
            width: 100%;
        }
    }

    .section {
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    .studios {
        max-width: 100%;
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .title {
        h1 {
            font-size: 40px !important;
        }
    }

    .studios {
        padding: 1rem;
    }

    .name {
        font-size: 20px !important;
    }
    .section {

        margin-left: 10px;
    }
    img {
        width: 100%;
    }
}
