header {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin-top: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #341f44;
    height: 123px;
    width: 95%;
    padding: 0 5%;


    .logo-box {
      cursor: pointer;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 40px;
        font-family: 'CrimsonTextBold';
        font-weight: 400;
        letter-spacing: 4px;
        color: #f8f3ee;
        margin-bottom: 0;
      }

      p {
        font-size: 12px;
        margin: 0;
        color: #f8f3ee;
        font-family: 'Gantari';
        height: 20px;
      }
    }

    .desktop-menu {
      display: flex;

      span {
        color: #f8f3ee;
        font-size: 24px;
        font-family: 'CrimsonTextBold';
        margin: 0 15px;
        font-weight: 400;
        cursor: pointer;
      }
    }

    .mobile-menu {
      display: none;
      background-color: transparent;
      border: none;

      mat-icon {
        color: #f8f3ee;
        cursor: pointer;
      }
    }

    /* Responsive Styles */
    @media (max-width: 1024px) {
      .desktop-menu {
        display: none;
        /* Hide Desktop Menu */
      }

      .mobile-menu {
        display: block;
        /* Show Hamburger Icon */
      }

    }
  }
}