// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "CrimsonTextBold";
  src: url('/assets/fonts/CrimsonText-Bold.ttf');
}

@font-face {
  font-family: "CrimsonTextSemiBold";
  src: url('/assets/fonts/CrimsonText-SemiBold.ttf');
}

@font-face {
  font-family: "CrimsonTextRegular";
  src: url('/assets/fonts/CrimsonText-Regular.ttf');
}

@font-face {
  font-family: "Gabarito";
  src: url('/assets/fonts/Gabarito-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Gantari";
  src: url('/assets/fonts/Gantari-Regular.ttf');
}

@font-face {
  font-family: "GabaritoBold";
  src: url('/assets/fonts/Gantari-Bold.ttf');
}

@font-face {
  font-family: "GantariSemiBold";
  src: url('/assets/fonts/Gantari-SemiBold.ttf');
}

.mat-mdc-menu-content {
  background-color: #f8f3ee;
  border-radius: 0px;

}
.mat-mdc-menu-item {
  font-family: 'CrimsonTextBold' !important; /* Change Font */
  font-size: 24px !important; /* Adjust text size */
  font-weight: bold !important; /* Make text bold (optional) */
  color: #341f44 !important; /* Set text color */
}

.mat-mdc-menu-item:hover {
  background-color: #e0d7cc !important; /* Light hover effect */
}

// For WebKit Browsers (Chrome, Safari, Edge)
::-webkit-scrollbar {
  width: 0px; // Hides scrollbar
  height: 0px;
}

// For Firefox
html {
  scrollbar-width: none; // Hides scrollbar in Firefox
}

// For Internet Explorer & Edge
body {
  -ms-overflow-style: none; // Hides scrollbar in IE & Edge
}
