<footer>
    <div class="footer-container">
        <div class="footer-left">
            <div>
                <h2>Suwadee</h2>
                <p>TRADITIONELLE THAIMASSAGE</p>
            </div>
            <ul>
                <li><a href="#">Leistungen</a></li>
                <li><a href="#">Standorte</a></li>
                <li><a href="#">Terminvereinbarung</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <a href="#" class="btn">Jetzt Termin vereinbaren</a>
            <ul>
                <li><a href="#">Impressum</a></li>
                <li><a href="#">Datenschutz</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <mat-icon>arrow_circle_up</mat-icon>
        <p>COPYRIGHT 2024 SUWADEE TRADITIONELLE THAIMASSAGE</p>
    </div>
</footer>