$primary-color: #2e1a43;
$secondary-color: #d6c2eb;
$text-color: #DECDEB;

footer {
    background-color: $primary-color;
    color: $text-color;
    padding: 40px 20px;
    padding-bottom: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Ensures footer-bottom stays at the bottom */
    align-items: center;
    min-height: 400px;
    /* Adjust based on your footer height */
    position: relative;
    margin-top: 200px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
}

.footer-left,
.footer-right {
    flex: 1;
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    h2 {
        font-size: 40px;
        font-family: 'CrimsonTextBold';
        font-weight: 400;
        letter-spacing: 4px;
        color: #DECDEB;
        margin-bottom: 0px;
    }

    p {
        font-size: 12px;
        margin: 0;
        color: #DECDEB;
        font-family: 'Gantari';
    }


    .btn {
        background-color: $secondary-color;
        padding: 10px 20px;
        border-radius: 2px;
        text-decoration: none;
        display: inline-block;
        color: $primary-color;
        font-family: 'CrimsonTextBold';
        font-size: 20px;
    }
}

.footer-right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

        li {
            margin: 5px 0;

            a {
                color: $text-color;
                text-decoration: none;
                font-family: 'CrimsonTextBold';
                cursor: pointer;
                font-size: 20px;
            }
        }
    }
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;

    width: 100%;
    position: absolute;
    bottom: 10px;
    /* Pushes it to the bottom */
    left: 50%;
    transform: translateX(-50%);

    /* Ensures it's centered */
    @media (max-width: 360px) {
        bottom: 0px;
    }

    .line {
        border: 1.5px solid #DECDEB;
        height: 370px;
        margin-bottom: 60px;
    }

    img {
        width: 70px;
        height: auto;
        margin-bottom: 10px;
        cursor: pointer;
    }

    p {
        font-family: 'Gantari';
        font-size: 11px;
        letter-spacing: 2px;

        @media (max-width: 360px) {
            font-size: 8px;
        }
    }
}

@media (max-width: 750px) {

    .footer-bottom {
        align-items: end;

        .line,
        img,
        p {
            margin-right: 15px;
        }

        .line {
            margin-right: 47px;
        }
    }

    .footer-left {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .footer-right {
        flex-direction: column;
        align-items: flex-start;

        .margin {
            margin-top: 20px;
        }

        ul {
            margin: 0;
        }
    }
}