<div class="container" id="leistungen">
    <div class="title">
        <div class="line"></div>
        <h1>Unsere Massagen und Preise</h1>
        <div class="line"></div>
    </div>

    <div class="massage">
        <h2>Ganzkörpermassage</h2>
        <div>
            <p>Eine wohltuende Massage des ganzen Körpers, ausgenommen von erogenen Zonen, welche insbesondere zur
                Entspannung und Wohlfindung beiträgt.</p>
            <p class="price">90 Minuten - 75 € / 120 Minuten - 90 €</p>
        </div>
    </div>

    <div class="massage">
        <h2>Traditionelle Thai-Massage</h2>
        <div>
            <p>Thailändische Massagetechnik über den ganzen Körper, ausgenommen von erogenen Zonen. Es ist eine
                Verbindung
                aus Akupressur, Dehnung, Energiearbeit und Meditation.</p>
            <p class="price">30 Minuten - 30 € / 60 Minuten - 55 €</p>
        </div>
    </div>

    <div class="massage">
        <h2>Rücken-Nacken-Kopfmassage</h2>
        <div>
            <p>Eine wohltuende Massage für Verspannungen im Rücken, vor allem um die Zonen der Schulterblätter,
                Schultern
                und Nacken. In Verbindung mit einer entspannenden Kopfmassage.</p>
            <p class="price">60 Minuten - 55 €</p>
        </div>
    </div>

    <div class="massage">
        <h2>Rücken-Nackenmassage</h2>
        <div>
            <p>Eine wohltuende Massage für Verspannungen im Rücken, vor allem um die Zonen der Schulterblätter,
                Schultern
                und dem Nacken.</p>
            <p class="price">30 Minuten - 30 €</p>
        </div>
    </div>

    <div class="massage">
        <h2>Gesicht-Kopfmassage</h2>
        <div>
            <p>Eine besondere ruhige und rhythmische Massage, welche das Gesicht und den Kopf in kreisenden Bewegungen
                entspannt.</p>
            <p class="price">30 Minuten - 30 €</p>
        </div>
    </div>

    <div class="massage">
        <h2>Fußreflexzonen-Massage</h2>
        <div>
            <p>Eine spezielle Art der Reflexzonenmassage. Hierbei werden bestimmte Bereiche der Fußsohle behandelt.</p>
            <p class="price">30 Minuten - 30 €</p>
        </div>
    </div>

    <div class="massage" style="border-bottom: none;">
        <h2>Thai-Hot-Stone-Massage</h2>
        <div>
            <p>Bei der Hot-Stone-Massage wird eine traditionelle Thai-Massage mit Vulkansteinen kombiniert. Diese werden
                auf
                die Haut geführt und wirken durch ihre intensive Wärme beruhigend auf Herz, Kreislauf und Ihrem eigenen
                Wohlbefinden.</p>
            <p class="price">60 Minuten - 65 € / 90 Minuten - 85 € / 120 Minuten - 105 €</p>
        </div>
    </div>

    <mat-card class="example-card">
        <mat-card-content>
            <p>Unsere aufgeführten Massagepakete sind die beliebtesten Angebote. 
                Sollten Sie spezielle Wünsche haben – beispielsweise aufgrund von Verspannungen, sportlichen Belastungen,
                Verletzungen oder bestimmten gesundheitlichen Beschwerden – beraten wir Sie gerne persönlich. Gemeinsam
                finden wir die passende Massage für Ihre individuellen Bedürfnisse. <br> Rufen Sie uns einfach an – wir freuen
                uns auf Sie!</p>
        </mat-card-content>
        <button mat-raised-button (click)="scrollToTermin()">Jetzt Termin vereinbaren</button>
    </mat-card>
</div>

