
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1440px;
    margin: 40px auto;
    background: white;
    border-radius: 8px;
    display: flex;

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;

    .line {
        border: 1px solid #DECDEB;
        height: 0px;
        width: 500px;
    }

    h1 {
        text-align: center;
        color: #523263;
        font-size: 48px;
        font-weight: 400;
        font-family: 'CrimsonTextBold';
    }
}

section {
    display: flex;
    justify-content: space-evenly;

    .studios {

        h2 {
            font-size: 23px;
            font-weight: 400;
            color: #A28F84;
            letter-spacing: 8px;
            font-family: 'Gantari';
        }

        p {
            font-size: 23px;
            font-weight: 400;
            color: #221F23;
            margin-bottom: 5px;
            line-height: 1.6;
            font-family: 'Gantari';
        }

        img {
            padding-top: 50px;
            width: 500px;
            height: 627px;
        }
    }
}


.example-card {
    max-width: 1440px;
    margin: 40px auto;
    width: 80%;
    background-color: #DECDEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px;


    p {
        color: #341F44;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        margin: 30px;
        margin-bottom: 0px;
        line-height: 50px;
        font-family: 'Gantari';
    }
}
}