<div class="container" id="standorte">
    <div class="title">
        <div class="line"></div>
        <h1>Unsere Studios</h1>
        <div class="line"></div>
    </div>

    <section>
        <div class="studios">
            <h2>MASSAGESTUDIO HARSEFELD</h2>
            <div>
                <p>Große Gartenstr. 1A, 21698 Harsefeld. <br>
                    (500 Meter vom Bahnhof)</p>
            </div>
            <div>
                <p>
                    Öffnungszeiten: <br>
                    Montag – Freitag: 11:00 – 18:00 Uhr <br>
                    Samstag: nach Terminvereinbarnung
                </p>
            </div>
            <img src="assets/landingPage/studio_1.png" alt="">
        </div>

        <div class="studios">
            <h2>MASSAGESTUDIO STADE</h2>
            <div>
                <p>Bahnhofstr. 2, 21682 Stade <br>
                    (400 Meter vom Bahnhof)</p>
            </div>
            <div>
                <p>
                    Öffnungszeiten: <br>
                    Montag – Freitag: 10:00 – 19:00 Uhr <br>
                    Samstag: 11:00 - 16:00 Uhr
                </p>
            </div>
            <img src="assets/landingPage/studio_2.png" alt="">
        </div>
    </section>

    <mat-card class="example-card">
        <mat-card-content>
            <p>Gerne kann auch außerhalb der Öffnungszeiten ein Termin vereinbart werden.
                Wir bitten Sie darum schon vorher telefonisch oder persönlich mit uns einen Termin zu vereinbaren.
                Bitte beachten Sie, dass jede kurzfristige Absage für uns ein großer Verdienstausfall ist. Daher bitten
                wir Sie darum die Behandlung mindestens 24 Stunden vorher abzusagen, ansonsten sehen wir uns
                leider gezwungen den vollen Preis zu berechnen.</p>
        </mat-card-content>
    </mat-card>
</div>